<%= render "shared/header" %>
<div class='task-new' id='task-new-id' data-id=<%= @user.id %>>
  <%= form_with model: [@user, @task], url: user_tasks_path(@user.id), method: :post, id: "form" do |f| %>
    <%= f.text_field :content, id: "content", class: "task-form" %>
    <%= f.submit '追加する', id: "add-submit" %>
  <% end %>
</div>
<div class='task-lists'>
  <h2 class='task-lists-title'>
   タスク一覧
  </h2>
  <table class='task-table' id='task-table-id'>
    <tr class='task-table-th-tr'>
      <th class='task-table-th'></th>
      <th class='task-table-th'>タスク内容</th>
      <th class='task-table-th'></th>
    </tr>
    <div id="list"></div>
    <% @tasks.each do |task| %>
      <tr class='task-table-td-tr' data-id=<%= task.id %> >
        <td class="task-table-td" >
            <%= check_box :task, :check, {class: "check_box", checked: task.check},true,false %>
        </td>
        <td class="task-table-td">
          <div> <%= task.content %> </div>
          </td>
        <td class="task-table-td">
        <%= link_to '削除', "/users/#{@user.id}/tasks/#{task.id}", method: :delete, class: "task-destroy-btn", remote: :true %>
        </td>
      </tr>
    <% end %>
  </table>
</div>