<%= render "shared/header" %>
<div class='menber-lists'>
  <h2 class='menber-lists-title'>
  メンバー一覧
  </h2>
  <table class='menber-table'>
    <tr class='menber-table-th-tr'>
      <th class='menber-table-th'>名前</th>
      <th class='menber-table-th'>役職</th>
      <th class='menber-table-th'>電話番号</th>
      <th class='menber-table-th'>メールアドレス</th>
    </tr>
    <% @users.each do |user| %>
      <tr class='menber-table-td-tr' data-id=<%= user.id %> >
        <td class="menber-table-td" >
          <div> <%= user.name %> </div>
        </td>
        <td class="menber-table-td">
          <div> <%= user.position.name %> </div>
          </td>
        <td class="menber-table-td">
          <div> <%= user.phone_number %> </div>
        </td>
        <td class="menber-table-td">
          <div> <%= user.email %> </div>
        </td>
      </tr>
    <% end %>
  </table>